{% extends "registration/base.html" %}

{% block content %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
    <input id="submit_bttn" type="submit" value="Log in" />
  </form>
  <p>Or <a href="{% url 'login' %}">Create new account</a></p>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  {% if next %}
      <p>Please log in to see this page.</p>
  {% endif %}

{% endblock %}
