/* Task */

/*Components*/
.task {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;

  cursor: col-resize;
}

.task-info {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 5;
  overflow: hidden;
  justify-content: center;
}

.task-time {
  font-family: 'Roboto', sans-serif;
  font-size: calc(12px + 0.5vmin);
  text-align: center;
  color: #555555;
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 1;
}

.task-title {
  font-family: 'Roboto', sans-serif;
  font-size: calc(14px + 0.5vmin);
  font-weight: bold;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}

.task-description {
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 0.5vmin);
  color: color: #555555;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  resize: none;
}

/*Icons*/
.material-icons-outlined.task-icons {
  font-size: calc(28px + 0.5vmin);
  flex-basis: 5%;
  flex-grow: 0;
  flex-shrink: 1;
  padding-top: 10px;
}

.material-icons-outlined.task-check-mark, .material-icons-outlined.task-start, .material-icons-outlined.task-cancel {
  color: #888888;
  padding-top: 10px;
}

a .task-check-mark:hover, .task-start:hover {
  color: #00FF19;
}

.material-icons-outlined.task-add {
  font-size: calc(55px + 0.5vmin);
  color: #555555;
  padding: 1vmin;
}

a .task-add:hover {
  color: #999999;
}

.material-icons-outlined.task-cancel {
  display: none;
}

/* COLLAPSING */
.collapsible {}

.expanded {}

.expanded .task-title, .expanded .task-description {
  white-space: normal;
}

.expanded .task-description:focus {
  outline: none;
  border: 1px black solid;
  box-shadow: 2px 2px black;
}

.expanded .material-icons-outlined.task-cancel  {
  display: block;
}

.expanded {
}

/* END COLLAPSING */
