{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/collapsible.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|" rel="stylesheet">
  </head>
  <body>
    <div class="title-bar flex-row">
      <div class="content-wrapper flex-row">
        <a href="{% url 'index' %}"><i class="material-icons big-icons">view_headline</i></a>
        <h1 id="app-header">Activity tracker</h1>
        <a href="{% url 'index' %}"><i class="material-icons big-icons">perm_identity</i></a>
      </div>
    </div>
    <section class="content-wrapper flex-column">
      <h2 class="section-header">Activities</h2>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 </p>
            <p class="task-description">123456789 </p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-check-mark">check_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 </p>
            <p class="task-description">123456789 </p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-check-mark">check_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 </p>
            <p class="task-description">123456789 </p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">4d 8h 21m</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-check-mark">check_circle_outline</i></a>
        </div>
      </div>
      <a href="{% url 'index' %}"><i class="material-icons-outlined task-add">add_circle_outline</i></a>
    </section>
    <section class="content-wrapper flex-column">
      <h2 class="section-header">Todo</h2>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <div class="left">
          <i class="material-icons-outlined task-icons" style="color:red;">assignment</i>
          <div class="task-info flex-column">
            <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
            <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
          </div>
        </div>
        <div class="right">
          <p class="task-time">8 h</p>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-start">play_circle_outline</i></a>
        </div>
      </div>
    </section>
  </body>
</html>
