{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|" rel="stylesheet">
    <script src="{% static 'script/dashboard.js' %}"></script>
  </head>
  <body onload="setup()">
    <div class="title-bar">
      <div class="content-wrapper flex-row">
        <a href="{% url 'index' %}"><i class="material-icons big-icons">view_headline</i></a>
        <h1 id="app-header">Activity tracker</h1>
        <a href="{% url 'index' %}"><i class="material-icons big-icons">perm_identity</i></a>
      </div>
    </div>
    <section class="content-wrapper flex-column section-style">
      <h2 class="section-header">Activities</h2>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 </p>
          <p contenteditable="true" class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789</textarea>
        </div>
        <p class="task-time">8 h</p>
        <div class="task-actions flex-column">
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-check-mark">check_circle_outline</i></a>
          <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-cancel">clear</i></a>
        </div>
      </div>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 1234567891234 56789123456789 123456789 12345678912345678912 3456 78912345 6789123456789123456789123456789</p>
          <p class="task-description">123456789 123456789</p>
        </div>
        <p class="task-time">8 h</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-check-mark">check_circle_outline</i></a>
      </div>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 </p>
          <p class="task-description">123456789 </p>
        </div>
        <p class="task-time">4d 8h 21m</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-check-mark">check_circle_outline</i></a>
      </div>
      <div class="task section-item collapsible">

      </div>
      <a href="{% url 'index' %}"><i class="material-icons-outlined task-add">add_circle_outline</i></a>
    </section>
    <section class="content-wrapper flex-column section-style">
      <h2 class="section-header">Todo</h2>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
          <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
        </div>
        <p class="task-time">8 h</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-start">play_circle_outline</i></a>
      </div>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
          <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
        </div>
        <p class="task-time">8 h</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-start">play_circle_outline</i></a>
      </div>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
          <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
        </div>
        <p class="task-time">8 h</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-start">play_circle_outline</i></a>
      </div>
      <div class="task section-item collapsible">
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons" style="color:red;">assignment</i></a>
        <div class="task-info flex-column">
          <p class="task-title">123456789 123456789 123456789 123456789 123456789 </p>
          <p class="task-description">123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789 123456789</p>
        </div>
        <p class="task-time">8 h</p>
        <a href="{% url 'index' %}"><i class="material-icons-outlined task-icons task-start">play_circle_outline</i></a>
      </div>
    </section>
  </body>
</html>
